Port 22
ListenAddress 0.0.0.0

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

AllowUsers sandbox

AuthorizedKeysFile .ssh/authorized_keys

X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server

ClientAliveInterval 60
ClientAliveCountMax 3
